@font-face {
    font-family: poppinsextrabold;
    src: url(fonts/Poppins-ExtraBold.ttf);
     src: url(fonts/Poppins-ExtraBold.woff);
      src: url(fonts/Poppins-ExtraBold.woff2);
   
}
@font-face {
    font-family: glacialindifferencereg;
    src: url(fonts/GlacialIndifference-Regular.ttf);
    src: url(fonts/GlacialIndifference-Regular.woff);
    src: url(fonts/GlacialIndifference-Regular.woff2);
}
@font-face {
    font-family: glacialindifferencebold;
    src: url(fonts/GlacialIndifference-Bold.ttf);
    src: url(fonts/GlacialIndifference-Bold.woff);
     src: url(fonts/GlacialIndifference-Bold.woff2);
}
@font-face {
    font-family: montserratbold;
    src: url(fonts/Montserrat-Bold.ttf);
    src: url(fonts/Montserrat-Bold.woff);
    
    src: url(fonts/Montserrat-Bold.woff2);
}
@font-face {
    font-family: muli;
    src: url(fonts/Muli.ttf);
    src: url(fonts/Muli.woff);
    src: url(fonts/Muli.woff2);
}
