* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
.mypics {
    max-height: 500px;
    width: 100%;
    /* object-fit: cover; */

}
.mypic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    
}

.flex {
    display: flex;
}

.headcontainer {
    width: 100%;
    height: 500px;
    position: relative;
}
.textabove {
    position: absolute;
    width: 100%;
    top: 5%;
    color: #dbd6d6;
    justify-content: space-around;
       
}
.logo {
    /* margin-left: 40px; */
    
}
.rocalogo {
    font-family: poppinsextrabold;
    font-size: 30px;
}
.dotlogo {
    font-family: poppinsextrabold;
    font-size: 30px;
    color: #0081FF;
}
.template {
font-size: 15px;
font-family: poppinsextrabold;
margin-top: -13px;
}
.numberone {
    font-size: 100px;
    font-family: poppinsextrabold;
    position: absolute;
    top: -90%;
    right: 20%;
}
.aboutme {
    font-size: 30px;
    font-family: poppinsextrabold;
    position: relative;
    
}
.introtext {
    font-family: glacialindifferencereg;
    font-size: 28px;
    color: #dbd6d6;
}
.introtext1 {
    font-family: glacialindifferencebold;
    font-size: 35px;
    color: #dbd6d6;
}
.introtext2 {
    font-family: glacialindifferencereg;
    font-size: 25px;
    color: #dbd6d6;
}
.socicons {
    width: 30px;
    height: 30px;
}
.networklinks {
    width: 130px;
    justify-content: space-around;
    margin-left: 0%;
    /* position: absolute;
    top: 40%; */
}
.introduction {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 60%
}
.satisfiedclients {
    font-family: montserratbold;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 70%;
}
.hundred {
    color: #E93656;
}
.clients {
    color: #dbd6d6;
}
.line {
    width: 100%;
    background-color: #E93656;
    height: 10px;
    border-radius: 28px;
}
.profilecontainer {
    width: 100%;
    max-width: 1972px;
    height: 500px;
}
.profile {
    width: 25%;
}

.infoaboutme {
    width: 70%;
    text-align: right;
    /* margin: 15% 0 0 30%; */
    margin-left: 50%;
    margin-top: 45%;
}
.myname {
    font-family: glacialindifferencebold;
    font-size: 30px;
    color: #222222;
}
.myprofession {
    font-family: muli;
    font-size: 15px;
    color: #DAAE19;
    text-transform: uppercase;
}
.mydescription {
    font-family: muli;
    font-size: 13px;
    color: #555;
}
.hiretext {
    text-decoration: none;
    color: white;
    font-family: glacialindifferencebold;
    font-size: 10px;
    
    
}
.hireme  {
    width: 80px;
    height: 30px;
    background-color: #E93656;
    text-align: center;
    padding-top: 3px;
    margin-left: 98% ;
    opacity: 70%;
    
}
.hireme:hover {opacity: 1;}
.mydesign {
    width: 30%;
    margin-left: 10%;
    margin-top: 5%;
    
}
.designpic {
    max-width: 400px;
}


/* Bar Graph Horizontal */
.bar-graph .field {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 0;
  
}


.bar-graph-horizontal {
  max-width: 30%;
  width: 400px;
  margin: 13% -15% 0 0;
}

.bar-graph-horizontal > div {
  margin-bottom: 8px;
  width: 100%;
}

.bar-graph-horizontal .field {
  margin-top: 18px;
  width: 50px;
}

.bar-graph-horizontal .bar {
  border-radius: 3px;
  height: 9px;
  overflow: hidden;
  position: relative;
  width: 0;
  margin-bottom: 20px;
}

.bar-graph-one .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  position: absolute;
  right: 16px;
  top: 17px;
}

.bar-graph-one .bar-one .bar {
  background-color: #E93656;
  -webkit-animation: show-bar-one 1.2s 0.1s forwards;
  -moz-animation: show-bar-one 1.2s 0.1s forwards;
  animation: show-bar-one 1.2s 0.1s forwards;
}

.bar-graph-one .bar-two .bar {
  background-color: #E93656;
  -webkit-animation: show-bar-two 1.2s 0.2s forwards;
  -moz-animation: show-bar-two 1.2s 0.2s forwards;
  animation: show-bar-two 1.2s 0.2s forwards;
}

.bar-graph-one .bar-three .bar {
  background-color: #E93656;
  -webkit-animation: show-bar-three 1.2s 0.3s forwards;
  -moz-animation: show-bar-three 1.2s 0.3s forwards;
  animation: show-bar-three 1.2s 0.3s forwards;
}

.bar-graph-one .bar-four .bar {
  background-color: #E93656;
  -webkit-animation: show-bar-four 1.2s 0.4s forwards;
  -moz-animation: show-bar-four 1.2s 0.4s forwards;
  animation: show-bar-four 1.2s 0.4s forwards;
}
.field {
    font-family: "glacialindifferencereg";
    font-size: 20px;
    color: #555555;    
}
.bar { 
    margin-top: 10px;
}
.redpercentage {
    color: #E93656;
}
/* Bar Graph Horizontal Animations */
@-webkit-keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes show-bar-two {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@-webkit-keyframes show-bar-three {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@-webkit-keyframes show-bar-four {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

